$body_font: 'Raleway', sans-serif;
$background_uno: pink;
$background_dos: yellow;
$color_text_title: black;
$color_txt_lab: green;
$txt_p: blue;
$txt_center: center;
$padding: 6%;
$padding_media: 11%;
$padding_footer: 2%;
$width_desktop: 100%;